@charset "UTF-8";
/*! Corp common style Build 2015.02.03 by lll */
/* Buttons ========================================================================== */
.xui-btn { display: inline-block; text-align: center; line-height: 1em; border-width: 1px; border-style: solid; border-radius: 3px; font-family: "Lucida Grande", Tahoma, Arial, "Hiragino Sans GB", "Microsoft Yahei", Simsun, sans-serif; cursor: pointer; outline: none; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }

.xui-btn.disable, .xui-btn.disable:hover { color: #999; border-color: #D4D4D4; background-color: #E7E7E7; }

.xui-btn-xlg { text-shadow: 1px 1px 0 rgba(203, 106, 17, 0.38); height: 44px; font-size: 18px; padding: 0 20px; }

.xui-btn-lg { height: 34px; font-size: 16px; padding: 0 30px; }

.xui-btn-md { height: 28px; font-size: 14px; padding: 0 10px; }

.xui-btn-xmd { height: 30px; font-size: 14px; padding: 0 20px; }

.xui-btn-sm { height: 24px; font-size: 12px; padding: 0 20px; }

.xui-btn-xsm { height: 22px; font-size: 12px; padding: 0 10px; }

.xui-btn-primary { color: #FFFFFF; border-color: #F88500; background-color: #FFB000; }
.xui-btn-primary:hover { color: #FFFFFF; border-color: #F88500; background-color: #F79700; }

.xui-btn-secondary { color: #FFFFFF; border-color: #0055AA; background-color: #2277CC; }
.xui-btn-secondary:hover { color: #FFFFFF; border-color: #0077DD; background-color: #2299FF; }

.xui-btn-swhite { -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); color: #0066cc; border-color: #D1D1D1; background-color: #F7F7F7; }
.xui-btn-swhite:hover { color: #FFFFFF; border-color: #1256AA; background-color: #2277CC; }

.xui-btn-sblack { -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); color: #333; border-color: #D1D1D1; background-color: #F7F7F7; }
.xui-btn-sblack:hover { color: #FFFFFF; border-color: #1256AA; background-color: #2277CC; }

.xui-btn-sblue { -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); color: #0066cc; border-color: #AAC6E2; background-color: #DCEEFF; }
.xui-btn-sblue:hover { color: #FFFFFF; border-color: #1256AA; background-color: #2277CC; }

.xui-btn-syellow { -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); color: #ff8800; border-color: #FF8800; background-color: #FFFFFF; }
.xui-btn-syellow:hover { color: #FFFFFF; border-color: #F78500; background-color: #F79700; }

/* Modals ========================================================================== */
.xui-modal { display: block; border-style: solid; background-color: #FFFFFF; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }

.xui-modal-close { position: absolute; display: inline-block; color: #99BBDD; font-size: 18px; line-height: 1em; }
.xui-modal-close:hover { color: #0066CC; text-decoration: none; }

.xui-modal-box { border-color: #DCDCDC; border-width: 10px; }
.xui-modal-box .modal-dialog { position: relative; padding: 20px; }
.xui-modal-box .dialog-title { margin-bottom: 20px; padding-right: 30px; }
.xui-modal-box .dialog-content { margin-bottom: 10px; }
.xui-modal-box .xui-modal-close { top: 3px; right: 5px; width: 20px; height: 20px; line-height: 20px; font-size: 30px; font-weight: 100; }

.xui-modal-pop { border-color: #67A1E1; border-width: 1px; }
.xui-modal-pop .xui-modal-hd { position: relative; background-color: #EFF6FC; }
.xui-modal-pop .xui-modal-hd h4 { padding: 8px 30px 8px 10px; font-size: 14px; font-weight: bold; line-height: 1em; }
.xui-modal-pop .xui-modal-bd { padding: 10px; }
.xui-modal-pop .xui-modal-ft { padding: 10px; }
.xui-modal-pop .xui-modal-close { top: 5px; right: 5px; width: 16px; height: 16px; line-height: 16px; font-size: 20px; font-weight: 100; }

/* Form ========================================================================== */
.xui-form-text { border: 1px solid #cdcdcd; }

/* XUI Icons ========================================================================== */
.xuico-warn-xlg, .xuico-warn-lg, .xuico-warn-xmd, .xuico-warn-md, .xuico-warn-sm, .xuico-warn-xsm, .xuico-succes-xlg, .xuico-succes-lg, .xuico-succes-xmd, .xuico-succes-md, .xuico-succes-sm, .xuico-succes-xsm, .xuico-tip-xlg, .xuico-tip-lg, .xuico-tip-xmd, .xuico-tip-md, .xuico-tip-sm, .xuico-tip-xsm, .xuico-error-xlg, .xuico-error-lg, .xuico-error-xmd, .xuico-error-md, .xuico-error-sm, .xuico-error-xsm { display: inline-block; vertical-align: middle; background-image: url(http://pic.c-ctrip.com/corp_niv/com/un_icon_round.png?20150206); background-repeat: no-repeat; }

.xuico-warn-xlg { width: 64px; height: 64px; background-position: -2px -69px; }

.xuico-warn-lg { width: 48px; height: 48px; background-position: -73px -69px; }

.xuico-warn-xmd { width: 32px; height: 32px; background-position: -128px -69px; }

.xuico-warn-md { width: 24px; height: 24px; background-position: -168px -69px; }

.xuico-warn-sm { width: 16px; height: 16px; background-position: -200px -69px; }

.xuico-warn-xsm { width: 12px; height: 12px; background-position: -224px -69px; }

.xuico-succes-xlg { width: 64px; height: 64px; background-position: -2px -138px; }

.xuico-succes-lg { width: 48px; height: 48px; background-position: -73px -138px; }

.xuico-succes-xmd { width: 32px; height: 32px; background-position: -128px -138px; }

.xuico-succes-md { width: 24px; height: 24px; background-position: -168px -138px; }

.xuico-succes-sm { width: 16px; height: 16px; background-position: -200px -138px; }

.xuico-tip-xlg { width: 64px; height: 64px; background-position: -2px 0; }

.xuico-tip-lg { width: 48px; height: 48px; background-position: -73px 0; }

.xuico-tip-xmd { width: 32px; height: 32px; background-position: -128px 0; }

.xuico-tip-md { width: 24px; height: 24px; background-position: -168px 0; }

.xuico-tip-sm { width: 16px; height: 16px; background-position: -200px 0; }

.xuico-tip-xsm { width: 12px; height: 12px; background-position: -224px 0; }

.xuico-error-xlg { width: 64px; height: 64px; background-position: -2px -207px; }

.xuico-error-lg { width: 48px; height: 48px; background-position: -73px -207px; }

.xuico-error-xmd { width: 32px; height: 32px; background-position: -128px -207px; }

.xuico-error-md { width: 24px; height: 24px; background-position: -168px -207px; }

.xuico-error-sm { width: 16px; height: 16px; background-position: -200px -207px; }

.xuico-error-xsm { width: 12px; height: 12px; background-position: -224px -207px; }

/* primary header ========================================================================== */
.cui_nav_wireless a, .cui_label { background-image: url(http://pic.c-ctrip.com/cncorp120313/common/un_hd120523.png?140425.png); background-repeat: no-repeat; }

#base_hd { position: relative; z-index: 9; font: 12px/1.5 Arial,Simsun,sans-serif; background-color: #FFF; }

.cui_hd { position: relative; z-index: 3; min-width: 980px; max-width: 1180px; *width: 1180px; height: 58px; margin: 0 auto; padding: 0; color: #000; }

.cui_kit_wrap { height: 30px; min-width: 980px; background-color: #F6F6F6; border-bottom: 1px solid #E9E9E9; }

.cui_toolkit { position: relative; z-index: 4; min-width: 980px; max-width: 1180px; *width: 1180px; height: 30px; margin: 0 auto; line-height: 30px; color: #666; }
.cui_toolkit a { color: #2577E3; text-decoration: none; }
.cui_toolkit a:hover { text-decoration: none; }

.cui_contact { float: right; height: 30px; margin-right: 20px; font-style: normal; }

.cui_toolkit_login { float: left; padding-left: 10px; _line-height: 1em; }
.cui_toolkit_login a { margin-left: 20px; }
.cui_toolkit_login a:hover { text-decoration: underline; }

.cui_toolkit_links { float: right; }
.cui_toolkit_links li { position: relative; float: left; height: 30px; }
.cui_toolkit_links a { float: left; display: inline-block; width: 76px; height: 1em; padding: 5px 0 4px; margin-top: 4px; text-align: center; line-height: 1em; }

.cui_ctrip { position: absolute; top: 0; left: 0; width: 146px; height: 58px; z-index: 0; overflow: hidden; }
.cui_ctrip a { display: block; margin: 8px 0; height: 43px; border-right: 1px solid #B3CFF6; overflow: hidden; outline-width: 0; background: url(http://pic.c-ctrip.com/cncorp120313/common/c_logo2013.png) no-repeat 5px top; text-indent: -999px; }

.cui_corp_logo { position: absolute; top: 8px; left: 146px; width: 600px; height: 43px; padding-left: 20px; border-left: 1px solid #71A7ED; font: bold 22px/43px "microsoft yahei",simsun; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.cui_corp_logo .corp_logo, .cui_corp_logo strong { display: inline; vertical-align: middle; }

#cui_nav { position: relative; z-index: 2; min-width: 980px; height: 36px; line-height: 1em; border-bottom: 4px solid #0F85CF; }

.cui_nav_in { min-width: 980px; max-width: 1180px; *width: 1180px; height: 36px; margin: 0 auto; }

.cui_nav_main, .cui_nav_etc { float: left; padding-top: 3px; }

.cui_nav_main { position: relative; z-index: 2; }
.cui_nav_main a { position: relative; z-index: 1; display: block; float: left; height: 34px; padding: 0 16px; border-top: 2px solid transparent; color: #0f85d0; font: 16px/34px "Microsoft Yahei"; }

.cui_nav_etc a { position: relative; z-index: 1; display: block; float: left; height: 34px; padding: 0 16px; border-top: 2px solid transparent; color: #0f85d0; font: 16px/34px "Microsoft Yahei"; }

.cui_nav_main .cui_nav_current { background-color: #0F85CF; color: #FFF; border-top-color: #FF9913; font-weight: bold; }

.cui_nav_home { width: 72px; text-align: center; }

.cui_nav_o a { background-color: #0F85CF; color: #FFF; }
.cui_nav_o .cui_subnav_wrap { height: 40px; }
.cui_nav_o .cui_arr { background-position: -2px -12px; }

.cui_subnav_wrap { position: absolute; z-index: 6; top: 36px; left: 0; width: 100%; height: 0; background-color: #0F85CF; overflow: hidden; transition: 150ms; -webkit-transition: 150ms; -moz-transition: 150ms; }

.cui_sub_nav { position: absolute; }
.cui_sub_nav a { background-color: #0F85CF; float: none; display: inline-block; margin: 0 5px; padding: 0; color: #FFF; }

.cui_arr { display: inline-block; width: 10px; height: 6px; content: ""; vertical-align: middle; background-image: url(http://pic.c-ctrip.com/corp_niv/un_index.png?20140822); background-repeat: no-repeat; background-position: -2px -2px; }

.cui_nav_wireless { float: right; padding-top: 5px; }
.cui_nav_wireless a { padding: 6px 0 8px 18px; background-position: 0 -349px; }

.cui_label { position: absolute; z-index: 9; top: -15px; left: 45px; width: 46px; height: 20px; background-position: -50px -274px; }

.cui_wireless .cui_wireless_pic { background: url(http://pic.c-ctrip.com/cncorp120313/common/un_wireless.png) 0 -9999em no-repeat; }
.cui_wireless .cui_wireless_pic i { background: url(http://pic.c-ctrip.com/cncorp120313/common/un_wireless.png) 0 -9999em no-repeat; }

.cui_wireless_msg i, .cui_link_app i, .cui_input_close { background: url(http://pic.c-ctrip.com/cncorp120313/common/un_wireless.png) 0 -9999em no-repeat; }

.cui_wireless { position: absolute; z-index: 1; top: 35px; right: 0; bottom: 10px; width: 150px; height: 59px; line-height: 1.5; color: #b2b2b2; cursor: pointer; }
.cui_wireless .cui_wireless_pic { position: absolute; right: 0; height: 59px; width: 150px; background-position: -10px 0; text-indent: -100px; overflow: hidden; }
.cui_wireless .cui_wireless_pic i { position: absolute; bottom: 3px; right: 92px; width: 9px; height: 5px; background-position: -20px -75px; overflow: hidden; font-size: 0; line-height: 0; -webkit-transition: all 0.3s ease-in 0s; -moz-transition: all 0.3s ease-in 0s; -ms-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; }

.cui_wireless_box { position: absolute; right: 0; top: 59px; z-index: 100; width: 210px; height: 0px; overflow: hidden; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }

.cui_wireless_inbox { padding-top: 35px; width: 204px; border: 3px solid #2577e3; background-color: #fff; text-align: center; cursor: default; }

.cui_wireless_box:hover { display: block; }

.cui_wireless_close { position: absolute; right: 3px; top: 4px; width: 35px; height: 30px; font: bold 22px SimSun; color: #a9a9a9; }
.cui_wireless_close:hover { color: #2577E3; }

.cui_wireless_title { margin-bottom: 25px; font-size: 16px; color: #333; line-height: 1.4; font-family: 'Microsoft yahei'; color: #155ebd; }

.cui_wireless_code { display: inline-block; margin-bottom: 30px; width: 104px; height: 104px; background: none; *display: inline; *zoom: 1; }

.cui_link_app { display: block; position: relative; overflow: hidden; *zoom: 1; margin-top: -2px; height: 20px; padding: 10px 0; background-color: #f2f2f2; font: 16px/20px 'Microsoft YaHei'; color: #4a4a4a; text-align: center; cursor: pointer; }
.cui_link_app i { display: inline-block; width: 10px; height: 14px; margin-left: 5px; background-position: 0 -70px; vertical-align: -1px; *display: inline; *zoom: 1; overflow: hidden; *vertical-align: 4px; }

.cui_wireless_hover .cui_wireless_pic i { background-position: -20px -70px\9; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
.cui_wireless_hover .cui_wireless_box { display: block; height: 262px; }

.cui_hd .cui_wireless a:hover { text-decoration: none; }
.cui_hd a.cui_link_app:hover { text-decoration: underline; }

/* lang multi */
.cui_multi_lang { position: relative; z-index: 10; margin-left: 10px; padding-right: 15px; }

.cui_lang b, .cui_lang_hover b, .cui_ico_triangle { background-image: url(http://pic.c-ctrip.com/common/un_header_footer20140801.png); background-repeat: no-repeat; }

.cui_lang { position: absolute; z-index: 26; width: 20px; height: 20px; top: 1px; right: 0; overflow: hidden; background-color: #fff; }
.cui_lang b { display: block; position: relative; z-index: 3; width: 18px; height: 18px; padding-bottom: 3px; border-width: 1px 1px 0; border-style: solid; border-color: #F6F6F6; background-color: #F6F6F6; background-position: -58px -250px; cursor: pointer; }

.cui_lang_list { position: absolute; top: 21px; right: 0; z-index: 2; height: 0; width: 72px; overflow: hidden; padding: 8px 15px 8px 15px; border: solid 1px #b8b8b8; background-color: #fff; }

.cui_lang_hover { overflow: visible; }
.cui_lang_hover b { border-color: #b8b8b8; background-color: #FFF; background-position: 4px -252px; border-radius: 3px 3px 0 0; }
.cui_lang_hover .cui_lang_list { position: absolute; top: 21px; right: 0; z-index: 2; height: auto; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); }

.cui_multi_lang .cui_lang_sel { color: #333; text-align: left; *padding-top: 2px; }

.icon_flag { display: inline-block; width: 19px; height: 14px; margin-right: 3px; overflow: hidden; content: ""; vertical-align: middle; background: url(http://pic.c-ctrip.com/common/un_header_footer20150203.png?050210.png) no-repeat; }

.ico_cn { background-position: 0 -19px; }

.ico_en { background-position: -61px -470px; }

.ico_hk { background-position: 0 0; }

/* footer */
#base_ft { width: 950px; padding: 0 10px 10px; margin: 0 auto; font: 12px/1.5 verdana,simsun,serif; clear: both; text-align: center; }
#base_ft .btm_links { padding-top: 5px; border-top: 1px dashed #ccc; }
#base_ft a { color: #4d4d4d; text-decoration: none; }
#base_ft a:hover { text-decoration: underline; }

/* 头部公告 */
.message { position: relative; min-width: 980px; max-width: 1180px; *width: 1180px; height: 24px; margin: 10px auto 0; line-height: 24px; border: 1px solid #FFDCA8; color: #FF6300; background-color: #FFFCED; *zoom: 1; overflow: hidden; }
.message .close { position: absolute; top: 25px; right: 5px; display: inline-block; width: 24px; height: 24px; margin-top: -24px; text-align: center; line-height: 24px; color: #97958A; font-size: 16px; font-family: Arail; }
.message .close:hover { color: #F60; text-decoration: none; }

.message-list { overflow: hidden; }
.message-list div { display: block; padding-left: 50px; height: 24px; }

/* hotel refund tips */
.pop_refund_hd { position: absolute; top: 35px; left: -110px; display: inline-block; height: 24px; padding: 0 10px; line-height: 24px; background-color: #0F85CF; color: #FFF; }
.pop_refund_hd a { float: none; width: auto; margin: 0; padding: 0; color: #FFF; height: 24px; line-height: 24px; }
.pop_refund_hd a:hover { color: #FFE400; text-decoration: underline; }
.pop_refund_hd strong { font-size: 14px; color: #FFE400; margin: 0 5px; }
.pop_refund_hd .close { font-size: 20px; cursor: pointer; vertical-align: -3px; }
.pop_refund_hd .close:hover { color: #FFE400; }
.pop_refund_hd .tri { position: absolute; top: -9px; right: 20px; display: inline-block; width: 0; height: 0; border-left: 9px solid transparent; border-right: 9px solid transparent; border-bottom: 9px solid #0F85CF; }

/* fixed bar */
.xuico-totop, .xuico-oa, .xuico-feedback, .xuico-olservice, .xuico-flight-white, .xuico-hotel-white2, .xuico-train-white2, .xuico-train-white { display: inline-block; vertical-align: middle; background-image: url(http://pic.c-ctrip.com/corp_niv/index_sprit.png?20141110); background-repeat: no-repeat; }

.xuico-flight-white { width: 24px; height: 24px; margin: 0; background-position: 1px -145px; }

.xuico-hotel-white2 { width: 30px; height: 24px; margin: 0; background-position: -104px -145px; }

.xuico-train-white { width: 24px; height: 30px; margin: 0; background-position: -50px -142px; }

.xuico-bulletin { width: 30px; height: 30px; background-position: -245px -115px; }

.xuico-oa { width: 28px; height: 26px; background-position: -128px -113px; }

.xuico-feedback { width: 26px; height: 30px; background-position: -158px -111px; }

.xuico-olservice { width: 30px; height: 30px; background-position: -184px -111px; }

.xuico-totop { width: 24px; height: 30px; background-position: -217px -111px; }

.xui-fixbar { position: fixed; z-index: 999; bottom: 100px; right: 0; width: 66px; height: 264px; }
.xui-fixbar .bar-item { position: relative; display: inline-block; width: 66px; height: 56px; padding-top: 10px; color: #FFF; text-align: center; }
.xui-fixbar .bar-item:hover { text-decoration: none; background-color: #FFB000; }
.xui-fixbar .bar-item .bar-title { display: block; }
.xui-fixbar .bar-oa { background-color: #0173BC; }
.xui-fixbar .bar-oa-flight { background-color: #72C5FF; }
.xui-fixbar .bar-oa-hotel { background-color: #0173BC; }
.xui-fixbar .bar-oa-train { background-color: #1C99E8; }
.xui-fixbar .bar-feedback { background-color: #1C99E8; }
.xui-fixbar .bar-olservice { background-color: #72C5FF; }
.xui-fixbar .bar-totop { height: 50px; padding-top: 16px; background-color: #FFF; }
.xui-fixbar .bar-oa-extr { position: absolute; top: 0; right: 66px; width: 228px; }
.xui-fixbar .bar-oa-extr .bar-item { float: right; width: 76px; }
.xui-fixbar .bar-oa-extr .bar-item .xuico-flight-white, .xui-fixbar .bar-oa-extr .bar-item .xuico-hotel-white2 { margin-bottom: 3px; }

/* OA Modal: detail  */
.modal-oa { width: 582px; background-color: #FFFFFF; }
.modal-oa .modal-oa-hd { position: relative; height: 34px; color: #FFFFFF; text-align: center; background-color: #0173BC; }
.modal-oa .modal-oa-hd h4 { font-size: 18px; line-height: 34px; font-family: "Lucida Grande",  "Hiragino Sans GB", "Microsoft Yahei"; }
.modal-oa .modal-oa-return { position: absolute; top: 8px; left: 10px; color: #FFFFFF; }
.modal-oa .modal-oa-close { position: absolute; top: 5px; right: 10px; display: inline-block; width: 20px; height: 20px; color: #FFFFFF; font-size: 30px; line-height: 20px; font-weight: 100; }
.modal-oa .modal-oa-close:hover { color: #99BBDD; text-decoration: none; }
.modal-oa .modal-oa-bd { position: relative; min-height: 240px; max-height: 600px; overflow-x: hidden; overflow-y: scroll; *zoom: 1; }
.modal-oa .modal-oa-search { height: 30px; padding: 20px 40px; *zoom: 1; }
.modal-oa .modal-oa-search .form-text-oa { float: left; width: 380px; height: 20px; padding: 4px 10px; margin-right: 10px; }
.modal-oa .modal-oa-search button { float: left; }
.modal-oa .modal-oa-summary { padding: 10px 38px; cursor: pointer; }
.modal-oa .modal-oa-summary:hover { background-color: #F1F1F1; }
.modal-oa .modal-oa-detail { position: relative; overflow: hidden; *zoom: 1; border-left: 8px solid #A9DBFF; background-color: #F7FCFF; }
.modal-oa .approval-number { padding: 20px 30px; font-size: 14px; font-weight: bold; }
.modal-oa .approval-detail-list { padding: 0 10px  50px 66px; overflow: hidden; *zoom: 1; }
.modal-oa .approval-detail-list:after { clear: both; display: table; height: 0; content: ""; }
.modal-oa .approval-detail-list .approval-detail-item { float: left; width: 49.5%; }
.modal-oa .approval-detail-list .approval-detail-item.block-item { width: 100%; }
.modal-oa .approval-detail-list .item-title { color: #999; }
.modal-oa .approval-detail-list .item-content { padding: 5px 0 10px; font-size: 14px; font-family: "Lucida Grande",  "Hiragino Sans GB", "Microsoft Yahei"; }
.modal-oa .approval-button { padding-bottom: 20px; text-align: center; }
.modal-oa .approval-button button { font-size: 18px; }
.modal-oa .modal-oa-list > li { border-bottom: 1px solid #D4D4D4; }
.modal-oa .approval-icon { position: absolute; top: 50%; left: 0; width: 50px; height: 100px; margin-top: -50px; background: url(http://pic.c-ctrip.com/corp_niv/com/oa/halfround_bg.png?20150206) no-repeat; }
.modal-oa .approval-icon i { position: absolute; top: 50%; margin-top: -15px; }
.modal-oa .modal-result-no { padding: 20px 40px; }
.modal-oa .modal-result-no p { padding: 10px 0; font-size: 14px; font-family: "Lucida Grande",  "Hiragino Sans GB", "Microsoft Yahei"; border-top: 1px dotted #dcdcdc; }
.modal-oa .modal-result-fail { padding: 40px; font-size: 14px; font-family: "Lucida Grande",  "Hiragino Sans GB", "Microsoft Yahei"; text-align: center; }

/* OA Modal: check  */
.modal-oa-check { width: 780px; }
.modal-oa-check .dialog-title { padding: 20px 30px; }
.modal-oa-check .dialog-title h4 { font-size: 16px; font-family: "Lucida Grande",  "Hiragino Sans GB", "Microsoft Yahei"; }
.modal-oa-check .dialog-content { position: relative; padding: 0 20px 10px; overflow: hidden; *zoom: 1; }
.modal-oa-check .dialog-content:after { content: ""; display: table; height: 0; clear: both; visibility: hidden; }
.modal-oa-check .oa-order-detail { float: left; width: 270px; text-align: center; }
.modal-oa-check .oa-order-detail dt { padding-bottom: 10px; font-size: 18px; color: #0173bc; font-weight: bold; font-family: "Lucida Grande",  "Hiragino Sans GB", "Microsoft Yahei"; }
.modal-oa-check .order-detail-list { border: 2px dashed #BCE2FE; border-radius: 10px; }
.modal-oa-check .order-detail-list li { height: 60px; line-height: 60px; font-size: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.modal-oa-check .order-detail-list .point { font-weight: bold; }
.modal-oa-check .oa-order-approval { float: right; }
.modal-oa-check .oa-order-approval .point { color: #d21a1d; }
.modal-oa-check .oa-order-approval .order-detail-list { border-style: solid; background: url(http://pic.c-ctrip.com/corp_niv/com/oa/star.png?20140704) no-repeat 50% 195px; }
.modal-oa-check .order-detail-sumlist { position: absolute; left: 50%; top: 0; margin-left: -84px; width: 168px; padding: 38px 0 0; }
.modal-oa-check .order-detail-sumlist li { height: 60px; line-height: 60px; padding: 0 34px; text-align: center; background: url(http://pic.c-ctrip.com/corp_niv/com/oa/list_bg.png?20150206) 0 10px no-repeat; }
.modal-oa-check .order-detail-sumlist li.point { color: #FF0000; background-position: 0 -35px; }
.modal-oa-check .dialog-button { text-align: center; }
.modal-oa-check .dialog-button .xui-btn-secondary { margin-right: 10px; }

/* OA Modal: noresult  */
.modal-oa-noresult { width: 520px; }
.modal-oa-noresult .dialog-content { padding: 20px 50px; font-size: 14px; font-family: "Microsoft Yahei"; }
.modal-oa-noresult .dialog-button { text-align: center; }
