@charset "utf-8";
/* 
    @名称: base
    @功能: 重设浏览器默认样式
*/
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{color:#000;background:#fff;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
body{font:12px/1.5 Tahoma,"\5b8b\4f53",Arial,Helvetica,"\5fae\8f6f\96c5\9ed1",sans-serif;color:#333;}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video {display:inline-block;*display:inline;*zoom:1;}
ol,ul{list-style:none;}
fieldset,img{border:0;}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe{display:block;}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,i,th,var{font-style:normal;font-weight:500;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
/* 统一上标和下标 */
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ins,a{text-decoration:none;outline:none;}
a:hover{text-decoration:underline;}
table{border-collapse:collapse;border-spacing:0;}
/* IE bug fixed: th 不继承 text-align */
th{text-align:inherit;}
input,button,textarea,select{vertical-align:middle;}
input[type="checkbox"]{width:13px;height:15px;}
.clearfix:after {clear:both;display:block;height:0;font-size:0;content:".";visibility:hidden;}
.clearfix{zoom:1;}
.fl,.fr{display:inline;}
.fl{float:left;}
.fr{float:right;}
.study{text-align:center;font-size:42px;background:#eee;padding:30px 0px 10px 0px;color:#ccc;border-bottom:1px dashed #fafafa;}

.box {
    position:relative;
    height:1024px; /* 此为元素背景图像实际高度 X 元素背景图像个数 */
    margin:0 auto;
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed; /* 使背景图像相对于窗体固定 */
    background-size:cover; /* 取值auto | cover | contain */
    /* 背景图像的真实大小 */
    /* 将背景图像等比缩放到完全覆盖容器，背景图像有可能超出容器 */
    /* 将背景图像等比缩放到宽度或高度与容器的宽度或高度相等，背景图像始终被包含在容器内 */
    overflow:hidden;
    text-align:center;
}
.box-1 {
    background-image:url(../images/Panda.jpg);
}
.box-2{
    background-image:url(../images/Whale.jpg);
}
.box-3{
    background-image:url(../images/Koala.jpg);
}
.box-4{
    background-image:url(../images/Jellyfish.jpg);
}

.box p{position:absolute;left:50%;top:50%;z-index:2;display:inline-block;width:300px;height:300px;margin:-150px 0 0 -150px;text-align:left;color:#fff;}
.box strong{display:inline-block;font-size:30px;padding:5px 10px;color:red;}
.box span{display:block;padding:10px 0;font-size:18px;line-height:25px;}
.box i{position:absolute;left:0;top:0;z-index:1;width:100%;height:939px;background:black;opacity:0.5;filter:alpha(opacity=50);}

/* 标签分页 */
.slidecount{position:fixed;right:10px;bottom:50%;z-index:1;}
.slidecount li{margin-bottom:10px;}
.slidecount li a{display:block;width:10px;height:10px;background:gray;border:3px solid white;overflow:hidden;line-height:100px;border-radius:10px;}
.slidecount li a:hover{text-decoration:none;background:white;border:3px solid orange;}
.slidecount li.focus a{background:orange;border:3px solid orange;}


/*第二类，设置标签的运动轨迹*/
.article{z-index:2;width:960px;margin:0 auto;}
.content{position:relative;width:100%;height:900px;overflow:hidden;padding-top:100px;}
.content h1{font:700 80px Tahoma;}

.animg{position:absolute;left:-1000px;top:200px;
    -webkit-transition-duration:1s;
}
.detail{position:absolute;left:2000px;top:620px;width:100%;font-size:16px;
    -webkit-transition-duration:2s;
}
.detailtitle{position:absolute;left:0;top:-100px;padding:10px 20px;background:#333;color:#fff;font-size:24px;
    -webkit-transition-duration:3s;
}
.detailtitle-1{top:550px;left:-1000px;}

/* 运动轨迹 begin */
.content-focus .animg{left:0;top:200px;}
.content-focus .detail{left:0;top:620px;}
.content-focus .detailtitle{top:550px;}
.content-focus .detailtitle-1{left:0;}
/* 运动轨迹 end */


